body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../Resources/pastra.png");
    background-repeat: repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.body-content {
    background-color: dodgerblue;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 33%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.lasagnaImg
{
    width:80%;
}

.pastaPresserMain 
{
    float:left;
    padding:20px;
}

.pastaPresserUpgrades
{
    float:right;
}

footer
{
    clear:both;
}

hr
{
    clear:both;
}

.nobullet {
    list-style-type:none;
}

.playerInfo > ul{
    font-size:16px;
    text-align:left;
}

.title {

}

.liraCount, .lpsCount{
    /*background: yellow;*/
    color: dodgerblue;
    width: auto;
}

.upBtn {
    font-size: 16px;
    max-height: 50px;
    line-height: 50px;
    padding: 5px;
    display: inline-block;
    color: #444;
    border: 1px solid #CCC;
    background: #DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    vertical-align: middle;
    min-width: 100px;
    max-width: 125px;
    padding: 5px;
    text-align: center;
    vertical-align: central;
}

.upBtn:active {
    color: yellow;
    background: blue;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.saveBtn {
    font-size: 16px;
    max-height: 50px;
    line-height: 50px;
    padding: 5px;
    display: inline-block;
    color: #444;
    border: 1px solid #CCC;
    background: #DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    vertical-align: middle;
    min-width: 100px;
    max-width: 100px;
    /*margin: 10px;*/
    text-align: center;
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.saveBtn:active {
    color: yellow;
    background: blue;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.upLab {
    font-size:14px;
}

*, .container > * {
    font-family: 'Comic Sans MS';
}