@model PRO150PastaPresser.Models.Italian

@{
    ViewBag.Title = "Home Page";
}

<div class="homePageMainBody">
    <div class="pastaPresserMain">
        <h2>
            Lira: @Model.Lira
        </h2>
        <a href="/Home/Click">
            <img src="https://66.media.tumblr.com/c60ebc65486d1c75f1429e10ad10066f/tumblr_mod325UaUQ1rzunsjo1_500.png" width="250" class="pastaImg" />
        </a>
        <div class="pastaPresserUpgrades">
            This is where upgrade do
        </div>
    </div>
</div>