@model PRO150PastaPresser.Models.Italian

@{
    ViewBag.Title = "Home Page";
}
@*<div class="homePageMainBody">
    <div class="pastaPresserMain">
        <h2>
            Lira: <label id="LiraCounter">@Model.Lira</label>
        </h2>
            <img src="https://66.media.tumblr.com/c60ebc65486d1c75f1429e10ad10066f/tumblr_mod325UaUQ1rzunsjo1_500.png" class="pastaImg" onclick="@Model.Lira = AddLira(@Model)"/>
        <div class="pastaPresserUpgrades">
            This is where upgrade do
        </div>
    </div>
</div>*@
<script href="~/Scripts/Lasagna/LiraControl.js"></script>