@{
    ViewBag.Title = "Home Page";
}

<div class="homePageMainBody">
    <div class="pastaPresserMain">
        <img src="https://66.media.tumblr.com/c60ebc65486d1c75f1429e10ad10066f/tumblr_mod325UaUQ1rzunsjo1_500.png" width="250" class="pastaImg"/>
        <div class="pastaPresserUpgrades">
            This is where upgrade do
        </div>
    </div>
</div>