@{
    ViewBag.Title = "Home Page";
}

<h1>
    Pasta Presser
</h1>

<div class="flex-container">
    <div>
        Upgrades:
    </div>
    <div>
        Lira: 2
        <img src="https://66.media.tumblr.com/c60ebc65486d1c75f1429e10ad10066f/tumblr_mod325UaUQ1rzunsjo1_500.png" class="lasagnaImg"/>
    </div>
    <div>
        Player Info:
    </div>
</div>